@import "_vars.scss";
@import "_libs.scss";
@import "_fonts.scss";
@import "_global.scss";

.slick-arrow {
  border: none;
  outline: none;
  position: relative;
  top: 50%;
  cursor: pointer;
  z-index: 5;
  transform: translateY(-50%);
  background-color: transparent;
}

.slick-next {
  position: absolute;
  right: 40px;
  width: 30px;
}

.slick-prev {
  position: absolute;
  left: 40px;
  width: 30px;
}
.header__menu-box {
  position: absolute;
  top: 20px;
  width: 100%;
}
.header__logo {
  margin-left: 30px;
  margin-right: 20px;
  width: 51px;
  height: 52px;
}

.header__map-img {
  margin-right: 20px;
  width: 51px;
  height: 52px;
}

.header__fb-img {
  margin-left: 20px;
  margin-right: 30px;
  width: 51px;
  height: 52px;
}

.header__inst-img {
  margin-left: 20px;
  width: 51px;
  height: 52px;
}
.header__menu-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 51px;
  margin: auto;
  background: #d75948;
  border: solid 0.1px #d75948;
  border-radius: 26px;
}

.header__menu-list {
  display: flex;
}

.header__menu-item + .header__menu-item {
  margin-left: 24px;
}
.header__menu-item:last-child {
  margin-right: 24px;
}

.header__menu-link {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
}

.user__nav-logo {
  width: 262px;
  height: 111px;
  margin-left: auto;
  margin-right: auto;
}

.user__nav {
  text-align: center;
  margin: auto;
  justify-content: center;
  position: absolute;
  top: 350px;
  left: 0;
  right: 0;
  max-width: 750px;
}

.user__nav-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.user__nav-title__inner {
  margin: auto;
  font-size: 104px;
  line-height: 120px;
  font-weight: 400;
  width: 720px;
  margin-bottom: 30px;
  span {
    width: 740px;
    white-space: nowrap;
  }
}

.user__nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  margin: auto;
  margin-left: -30px;
}
.user__nav-item {
  margin: 5px 12px;
  padding: 13px 63px;
  border: 1px solid #d75948;
  border-radius: 26px;
  background-color: #d75948;
  max-width: 106px;
  align-items: center;
}
.user__nav-link {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  white-space: nowrap;
}
.container__header {
  position: relative;
}

.welcome {
  top: 0;
}
.about__logo {
  max-width: 262px;
  height: 111px;
  margin: auto;
  margin-bottom: 50px;
}

.about {
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px, auto;
  max-width: 1020px;
  flex-wrap: nowrap;
}

.about__title {
  display: block;
  text-transform: none;
  text-align: center;
  margin-bottom: 20px;
  font-size: 85px;
  line-height: 100px;
  white-space: nowrap;
  max-width: 945px;
  margin: auto;
}
.about__text {
  display: block;
  text-transform: none;
  text-align: center;
  max-width: 1020px;
  max-height: 510px;
  margin-bottom: 50px;
}
p {
  padding: 10px, auto;
}

.about__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 26px;
  background-color: #fff;
  max-width: 176px;
  height: 52px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.about__btn-link {
  color: #d75948;
  font-size: 24px;
  line-height: 28px;
}

.offers__inner {
  padding: 40px 10px;
  text-align: center;
  width: auto;
  object-fit: cover;
}

.offers__inner-content {
  padding: 0;
  margin: 0;
  width: auto;
  object-fit: cover;
}

.offers__block-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: -9px;
}

.offers__block-title {
  color: #d75948;
  font-size: 80px;
  line-height: 100px;
  margin-bottom: 20px;
}
.block__offers-time {
  color: #202020;
  font-size: 48px;
  line-height: 52px;
  margin-bottom: 20px;
}

.prices_item {
  font-size: 32px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  margin-bottom: 20px;
  color: #202020;
  span {
    font-size: 20px;
    line-height: 30px;
    padding: 6px 0 0 5px;
  }
}

.offers__block-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid#d75948;
  color: #fff;
  border-radius: 26px;
  background-color: #d75948;
  max-width: 176px;
  height: 52px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.offers__block-btn__link {
  font-size: 24px;
  line-height: 28px;
}

.offers__block-title__catering {
  color: #202020;
  font-size: 80px;
  line-height: 100px;
  margin-bottom: 30px;
}

.block__offers-catering__subtitle {
  margin-bottom: 20px;
  color: #202020;
  text-transform: none;
  width: 660px;
  height: 170px;
  margin: auto;
}

.offers__block-title__sauce {
  color: #89a843;
  font-size: 80px;
  line-height: 100px;
  margin-bottom: 20px;
}

.block__offers-sauce {
  color: #202020;
  font-size: 48px;
  line-height: 52px;
  margin-bottom: 20px;
  span {
    color: #89a843;
  }
  .sauce__price {
    color: #d75948;
  }
}

.offers__block-best__sause {
  color: #202020;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}

.offers__block-mail {
  color: #202020;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 150px;
}
.offers__block-8 {
  background-color: #d75948;
  width: 960px;
  min-height: 720px;
  margin: auto;
}
.offers__block-title__margarita {
  font-size: 70px;
  line-height: 70px;
  margin: auto;
}
.offers__block-subtitle__margarita {
  font-size: 38px;
  line-height: 42px;
  margin-bottom: 120px;
}
.offers__block-title__wine {
  color: #d75948;
  font-size: 80px;
  line-height: 100px;
  margin-bottom: 20px;
  width: 660px;
  height: 200px;
  margin: auto;
  padding-top: 150px;
}
.offers__block-subtitle__wine {
  color: #d75948;
  font-size: 48px;
  line-height: 52px;
  margin-top: 20px;
  margin-bottom: 150px;
  .wine {
    color: #202020;
  }
}

.offers__block {
  text-align: center;
}

.partners__title {
  color: #202020;
  font-size: 70px;
  line-height: 70px;
  text-align: center;
  margin-bottom: 50px;
}

.partners__logo-img {
  width: 208px;
  height: 100px;
}
.logo__partners + .logo__partners {
  margin-left: 45px;
}

.location-title__inner {
  display: flex;
  padding-top: 150px;
  padding-bottom: 120px;
  margin: auto;
  max-height: 370px;
  max-width: 1140px;
}

.location__title {
  color: #000;
  font-size: 70px;
  line-height: 70px;
}

.location__content-inner {
  padding-bottom: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1, 1fr);
}
.location__content-inner__brewery {
  position: relative;
}

.brewery__poi {
  display: flex;
  margin: auto;
  width: 42px;
  height: 64px;
}

.location__brewery-title,
.location__cahana-title {
  font-size: 48px;
  line-height: 52px;
  text-align: center;
}

.location__brewery-subtitle,
.location__cahana-subtitle {
  padding: 20px 0;
  text-transform: none;
  text-align: center;
  margin-bottom: 50px;
}

.location__btn-head {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 26px;
  background-color: transparent;
  max-width: 176px;
  height: 52px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.location__time-fr_inner,
.location__time-m-f__inner {
  display: flex;
  justify-content: center;
}
.location__time-m-f__title,
.location__time-fr__title,
.location__time-sat__title {
  padding: 0 0 50px 0;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
}

.location__time-m-f__subtitle,
.location__time-fr__subtitle {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: none;
  padding: 0px 40px 50px 40px;
  position: relative;
  .line::after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 48px;
    width: 2px;
    top: -4px;
    margin-left: 40px;
    left: auto;
    right: auto;
  }
}

.location__time-sat__time {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: none;
  padding: 0 0 40px 0;
}
.location__number,
.location__reservations {
  padding: 10px 0 5px 0px;
  text-transform: none;
  text-align: center;
}

.location__number {
  margin-bottom: 50px;
}

.location__btn-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d75948;
  background-color: #fff;
  border-radius: 26px;
  background-color: transparent;
  max-width: 176px;
  height: 52px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fff;
}

.slider_item-inst {
  max-width: 465px;
  height: 465px;
  margin: 10px;
}
.inst_link {
  cursor: pointer;
}

.logo__footer {
  display: flex;
  justify-content: center;
  width: 313px;
  margin: auto;
  margin-bottom: 50px;
}

.social__menu-footer {
  display: flex;
  max-width: 313px;
  justify-content: space-between;
  margin: auto;
}
.footer_social {
  width: 51px;
  height: 52px;
  margin-bottom: 50px;
}

.menu__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0.1px #d75948;
  max-width: 999px;
  margin: auto;
}

.menu__list {
  display: flex;
  justify-content: center;
}

.menu__list-link {
  font-size: 24px;
  line-height: 28px;
}

.menu__list-item {
  height: 25px;
  border-left: 2px solid #fff;
  padding: 0 10px 0 10px;
}

.menu__list-item:first-child {
  border: none;
}
@media (max-width: 1620px) {
  .header {
    margin: auto;
    justify-content: center;
  }
  .header__fb-img,
  .header__inst-img {
    display: none;
  }
}

@media (max-width: 1375px) {
  .offers,
  .footer,
  .location__wrapper,
  .partners__inner,
  .about__wrapper,
  .slider_item,
  .offers__wrapper,
  .container {
    max-width: 1375px;
  }
  .offers__block-title__sauce,
  .offers__block-title__wine,
  .offers__block-subtitle__wine,
  .offers__block-title {
    font-size: 120px;
    line-height: 120px;
    margin-bottom: 40px;
  }

  .prices_item,
  .block__offers-sauce,
  .block__offers-time {
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 40px;
  }
  .offers__block-mail,
  .offers__block-best__sause {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 30px;
  }

  .offers__block-btn__link {
    font-size: 28px;
    line-height: 32px;
  }

  .offers__block-btn {
    max-width: 207px;
    height: 57px;
    margin-bottom: 40px;
  }

  .block__offers-catering {
    width: 720px;
    height: 210px;
  }
  .offers__block-title__catering {
    font-size: 126px;
    line-height: 140px;
    margin-top: 120px;
    margin-bottom: 60px;
    letter-spacing: 1px;
  }
  .offers__block-title__margarita {
    width: 720px;
    height: 210px;
    font-size: 126px;
    line-height: 140px;
    margin-top: 150px;
    margin-bottom: 110px;
    letter-spacing: 1px;
  }
  .block__offers-catering__subtitle {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 130px;
    letter-spacing: 0.5px;
  }
  .offers__block-subtitle__margarita {
    font-size: 70px;
    line-height: 90px;
    margin-bottom: 130px;
    letter-spacing: 1px;
  }
  .offers__wrapper {
    display: flex;
    min-width: 1345px;
    flex-direction: column;
    margin: auto;
  }

  .offers__inner {
    padding: 120px 100px 155px 100px;
    margin: auto;
    height: 100%;
    flex-flow: row wrap;
    flex-grow: 1;
  }

  .offers__inner-content {
    height: 100%;
    margin: auto;
    flex-flow: row wrap;
    flex-grow: 1;
  }
  .offers__block-img {
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: auto;
    max-height: 1000px;
    display: flex;
  }

  .offers__block-1:nth-of-type(1) {
    order: 1;
  }
  .offers__block-2:nth-of-type(2) {
    order: 2;
  }
  .offers__block-3:nth-of-type(3) {
    order: 4;
  }
  .offers__block-4:nth-of-type(4) {
    order: 3;
  }
  .offers__block-5:nth-of-type(5) {
    order: 5;
  }
  .offers__block-6:nth-of-type(6) {
    order: 5;
  }
  .offers__block-7:nth-of-type(7) {
    order: 8;
  }
  .offers__block-8:nth-of-type(8) {
    order: 7;
  }
  .offers__block-9:nth-of-type(9) {
    order: 9;
  }
  .offers__block-10:nth-of-type(10) {
    order: 10;
  }

  .partners__title {
    font-size: 110px;
    line-height: 110px;
    text-align: center;
    margin-bottom: 70px;
  }

  .partners {
    padding: 170px 0 170px 0;
  }

  .partners__logo-img {
    width: 208px;
    height: 100px;
  }
  .logo__partners + .logo__partners {
    margin-left: 70px;
  }

  .location__content-inner {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .location__wrapper {
    max-height: 2500px;
  }
  .location__title {
    font-size: 60px;
    line-height: 70px;
    margin: auto;
  }
  .location-title__inner {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    max-height: 100px;
    max-width: 1140px;
  }

  .brewery__poi {
    max-width: 62px;
    max-height: 84px;
  }

  .location__brewery-title,
  .location__cahana-title {
    font-size: 52px;
    line-height: 52px;
  }
  .location__brewery-subtitle,
  .location__cahana-subtitle {
    padding: 20px 0;
    margin-bottom: 25px;
  }

  .location__btn-head {
    max-width: 207px;
    height: 52px;
    margin-bottom: 25px;
  }

  .location__time-m-f__title,
  .location__time-fr__title,
  .location__time-sat__title {
    padding: 0 0 50px 0;
    font-size: 36px;
    line-height: 36px;
  }

  .location__time-m-f__subtitle,
  .location__time-fr__subtitle {
    font-size: 34px;
    line-height: 36px;
  }

  .location__time-sat__time {
    font-size: 36px;
    line-height: 36px;
  }

  .location__number {
    margin-bottom: 25px;
  }

  .location__btn-sub {
    max-width: 207px;
    height: 54px;
    margin-bottom: 25px;
  }
  .location__btn-sub__link,
  .location__btn-head__link {
    font-size: 26px;
    line-height: 26px;
  }
}

@import "_media.scss";
